In [1]:
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%run ./mobilityHelpers.ipynb
helpers = mobilityHelpers()

print(os.path)
myFiles = os.listdir(MYDIR + "education/")
print(myFiles)

print("Done")

C:\Users\alexg\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

<module 'ntpath' from 'C:\\Users\\alexg\\Anaconda3\\lib\\ntpath.py'>
['Education.xls', 'table-1-1.xlsx', 'table-3.xlsx']
Done

In [27]:
# MYDIR = "./../../ResearchProposal/education/"
myFile = MYDIR + "education/Education.xls"
myDFRaw = pd.read_excel(myFile, skiprows=4,
                        sheet_name="Education 1970 to 2018",
                       )
myDFRaw.head()
myDFRaw.rename(columns={"State": "st"}, inplace=True)
myDF = myDFRaw.merge(helpers.mStateAbbreviationsDF)

del myDF["st"]
myDF.head()

,FIPS Code,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970","Four years of college or higher, 1970",...,"Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2014-18","High school diploma only, 2014-18","Some college or associate's degree, 2014-18","Bachelor's degree or higher, 2014-18","Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18",state
0,1000,Alabama,NaN,NaN,NaN,NaN,1062306.0,468269.0,136287.0,141936.0,...,19.0,470043.0,1020172.0,987148.0,822595.0,14.2,30.9,29.9,24.9,Alabama
1,1001,Autauga County,2.0,2.0,2.0,2.0,6611.0,3757.0,933.0,767.0,...,18.0,4204.0,12119.0,10552.0,10291.0,11.3,32.6,28.4,27.7,Alabama
2,1003,Baldwin County,4.0,5.0,3.0,2.0,18726.0,8426.0,2334.0,2038.0,...,23.1,14310.0,40579.0,46025.0,46075.0,9.7,27.6,31.3,31.3,Alabama
3,1005,Barbour County,6.0,6.0,6.0,6.0,8120.0,2242.0,581.0,861.0,...,10.9,4901.0,6486.0,4566.0,2220.0,27.0,35.7,25.1,12.2,Alabama
4,1007,Bibb County,1.0,1.0,1.0,1.0,5272.0,1402.0,238.0,302.0,...,7.1,2650.0,7471.0,3846.0,1813.0,16.8,47.3,24.4,11.5,Alabama

In [3]:
statesAndCountry = myDF.loc[~myDF["Area name"].str.contains("County")].copy().reset_index(drop=True, inplace=False)
statesAndCountry.head()

,FIPS Code,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970","Four years of college or higher, 1970",...,"Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2014-18","High school diploma only, 2014-18","Some college or associate's degree, 2014-18","Bachelor's degree or higher, 2014-18","Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18",state
0,1000,Alabama,NaN,NaN,NaN,NaN,1062306.0,468269.0,136287.0,141936.0,...,19.0,470043.0,1020172.0,987148.0,822595.0,14.2,30.9,29.9,24.9,Alabama
1,2000,Alaska,NaN,NaN,NaN,NaN,44994.0,50820.0,20052.0,19082.0,...,24.7,34760.0,133851.0,169471.0,139645.0,7.3,28.0,35.5,29.2,Alaska
2,2010,Aleutian Islands,NaN,NaN,NaN,NaN,1237.0,1112.0,380.0,390.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alaska
3,2013,Aleutians East Borough,9.0,12.0,9.0,12.0,NaN,NaN,NaN,NaN,...,4.9,358.0,1061.0,882.0,336.0,13.6,40.2,33.4,12.7,Alaska
4,2016,Aleutians West Census Area,7.0,11.0,9.0,11.0,NaN,NaN,NaN,NaN,...,11.0,459.0,1664.0,1309.0,675.0,11.2,40.5,31.9,16.4,Alaska

In [4]:
counties = myDF.loc[myDF["Area name"].str.contains("County")].copy().reset_index(drop=True, inplace=False)
counties.head()

counties["county"] = counties["Area name"].str.replace(" County", "")
del counties["Area name"]
counties["county_state"] = counties["county"] + ", " + counties["state"]
counties.head()

,FIPS Code,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970","Four years of college or higher, 1970","Percent of adults with less than a high school diploma, 1970",...,"High school diploma only, 2014-18","Some college or associate's degree, 2014-18","Bachelor's degree or higher, 2014-18","Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18",state,county,county_state
0,1001,2.0,2.0,2.0,2.0,6611.0,3757.0,933.0,767.0,54.8,...,12119.0,10552.0,10291.0,11.3,32.6,28.4,27.7,Alabama,Autauga,"Autauga, Alabama"
1,1003,4.0,5.0,3.0,2.0,18726.0,8426.0,2334.0,2038.0,59.4,...,40579.0,46025.0,46075.0,9.7,27.6,31.3,31.3,Alabama,Baldwin,"Baldwin, Alabama"
2,1005,6.0,6.0,6.0,6.0,8120.0,2242.0,581.0,861.0,68.8,...,6486.0,4566.0,2220.0,27.0,35.7,25.1,12.2,Alabama,Barbour,"Barbour, Alabama"
3,1007,1.0,1.0,1.0,1.0,5272.0,1402.0,238.0,302.0,73.1,...,7471.0,3846.0,1813.0,16.8,47.3,24.4,11.5,Alabama,Bibb,"Bibb, Alabama"
4,1009,1.0,1.0,1.0,1.0,10677.0,3440.0,626.0,404.0,70.5,...,13489.0,13267.0,5010.0,19.8,34.0,33.5,12.6,Alabama,Blount,"Blount, Alabama"

In [5]:
counties.columns

Index(['FIPS Code', '2003 Rural-urban Continuum Code',
       '2003 Urban Influence Code', '2013 Rural-urban Continuum Code',
       '2013 Urban Influence Code', 'Less than a high school diploma, 1970',
       'High school diploma only, 1970', 'Some college (1-3 years), 1970',
       'Four years of college or higher, 1970',
       'Percent of adults with less than a high school diploma, 1970',
       'Percent of adults with a high school diploma only, 1970',
       'Percent of adults completing some college (1-3 years), 1970',
       'Percent of adults completing four years of college or higher, 1970',
       'Less than a high school diploma, 1980',
       'High school diploma only, 1980', 'Some college (1-3 years), 1980',
       'Four years of college or higher, 1980',
       'Percent of adults with less than a high school diploma, 1980',
       'Percent of adults with a high school diploma only, 1980',
       'Percent of adults completing some college (1-3 years), 1980',
       'Percent of adults completing four years of college or higher, 1980',
       'Less than a high school diploma, 1990',
       'High school diploma only, 1990',
       'Some college or associate's degree, 1990',
       'Bachelor's degree or higher, 1990',
       'Percent of adults with less than a high school diploma, 1990',
       'Percent of adults with a high school diploma only, 1990',
       'Percent of adults completing some college or associate's degree, 1990',
       'Percent of adults with a bachelor's degree or higher, 1990',
       'Less than a high school diploma, 2000',
       'High school diploma only, 2000',
       'Some college or associate's degree, 2000',
       'Bachelor's degree or higher, 2000',
       'Percent of adults with less than a high school diploma, 2000',
       'Percent of adults with a high school diploma only, 2000',
       'Percent of adults completing some college or associate's degree, 2000',
       'Percent of adults with a bachelor's degree or higher, 2000',
       'Less than a high school diploma, 2014-18',
       'High school diploma only, 2014-18',
       'Some college or associate's degree, 2014-18',
       'Bachelor's degree or higher, 2014-18',
       'Percent of adults with less than a high school diploma, 2014-18',
       'Percent of adults with a high school diploma only, 2014-18',
       'Percent of adults completing some college or associate's degree, 2014-18',
       'Percent of adults with a bachelor's degree or higher, 2014-18',
       'state', 'county', 'county_state'],
      dtype='object')

The data are grouped into categories of:

1. Less than a high school diploma
2. High school diploma only
3. Some college or associate's degree
4. Some college (1-3 years)
5. Bachelor's degree or higher
6. Percent of adults with less than a high school diploma
7. Percent of adults with high school diploma only
8. Percent of adults completing some college or associate's degree
9. Percent of adults completing some college (1-3 years)
10. Percent of adults with a bachelor's degree or higher

We shall rename these categories into:

1. "lt_high_school_diploma"
2. "high_school_diploma"
3. "some_college_or_assoc_degree"
4. "some_college__1_3_yrs"
5. "bachelors_degree_plus"
6. "pct__lt_high_school_diploma
7. "pct__high_school_diploma"
8. "pct__some_college_or_assoc_degree"
9. "pct__some_college__1_3_yrs"
10. "pct__bachelors_degree_plus"

In [46]:
def rename_columns(counties: pd.DataFrame) -> pd.DataFrame:
    cols = list(counties.columns)
    
    for cc in range(len(cols)):
        if "less than a high school diploma" in cols[cc].lower():
            cols[cc] = cols[cc].replace("Less than a high school diploma", "lt_high_school_diploma")
            cols[cc] = cols[cc].replace("less than a high school diploma", "lt_high_school_diploma")
            
        if "high school diploma only" in cols[cc].lower():
            cols[cc] = cols[cc].replace("High school diploma only", "high_school_diploma")
            cols[cc] = cols[cc].replace("a high school diploma only", "high_school_diploma")
            
        if "some college or associate's degree" in cols[cc].lower():
            cols[cc] = cols[cc].replace("Some college or associate's degree", "some_college_or_assoc_degree")
            cols[cc] = cols[cc].replace("some college or associate's degree", "some_college_or_assoc_degree")
            
        if "some college (1-3 years)" in cols[cc].lower():
            cols[cc] = cols[cc].replace("Some college (1-3 years)", "some_college_or_assoc_degree")
            cols[cc] = cols[cc].replace("some college (1-3 years)", "some_college_or_assoc_degree")
            
        if "bachelor's degree or higher" in cols[cc].lower():
            cols[cc] = cols[cc].replace("Bachelor's degree or higher", "bachelors_degree_plus")
            cols[cc] = cols[cc].replace("a bachelor's degree or higher", "bachelors_degree_plus")
        
        if "Percent of adults with " in cols[cc]:
            cols[cc] = cols[cc].replace("Percent of adults with ", "pct__")
        if "Percent of adults completing " in cols[cc]:
            cols[cc] = cols[cc].replace("Percent of adults completing ", "pct__")
            
        cols[cc] = cols[cc].replace(", ", "__")
        cols[cc] = cols[cc].replace("-", "_")
            
    counties.columns = cols
    
    return counties

In [47]:
dfReady = rename_columns(counties.copy())
dfReady.head()

,FIPS Code,2003 Rural_urban Continuum Code,2003 Urban Influence Code,2013 Rural_urban Continuum Code,2013 Urban Influence Code,lt_high_school_diploma__1970,high_school_diploma__1970,some_college_or_assoc_degree__1970,Four years of college or higher__1970,pct__lt_high_school_diploma__1970,...,high_school_diploma__2014_18,some_college_or_assoc_degree__2014_18,bachelors_degree_plus__2014_18,pct__lt_high_school_diploma__2014_18,pct__high_school_diploma__2014_18,pct__some_college_or_assoc_degree__2014_18,pct__bachelors_degree_plus__2014_18,state,county,county_state
0,1001,2.0,2.0,2.0,2.0,6611.0,3757.0,933.0,767.0,54.8,...,12119.0,10552.0,10291.0,11.3,32.6,28.4,27.7,Alabama,Autauga,"Autauga, Alabama"
1,1003,4.0,5.0,3.0,2.0,18726.0,8426.0,2334.0,2038.0,59.4,...,40579.0,46025.0,46075.0,9.7,27.6,31.3,31.3,Alabama,Baldwin,"Baldwin, Alabama"
2,1005,6.0,6.0,6.0,6.0,8120.0,2242.0,581.0,861.0,68.8,...,6486.0,4566.0,2220.0,27.0,35.7,25.1,12.2,Alabama,Barbour,"Barbour, Alabama"
3,1007,1.0,1.0,1.0,1.0,5272.0,1402.0,238.0,302.0,73.1,...,7471.0,3846.0,1813.0,16.8,47.3,24.4,11.5,Alabama,Bibb,"Bibb, Alabama"
4,1009,1.0,1.0,1.0,1.0,10677.0,3440.0,626.0,404.0,70.5,...,13489.0,13267.0,5010.0,19.8,34.0,33.5,12.6,Alabama,Blount,"Blount, Alabama"

In [48]:
myCols = [cc for cc in dfReady.columns if "Code" not in cc]
cols = ['state', 'county', 'county_state']
for cc in myCols:
    if cc not in cols:
        cols.append(cc)
myEdDF = dfReady[cols].copy()
myEdDF

,state,county,county_state,lt_high_school_diploma__1970,high_school_diploma__1970,some_college_or_assoc_degree__1970,Four years of college or higher__1970,pct__lt_high_school_diploma__1970,pct__high_school_diploma__1970,pct__some_college_or_assoc_degree__1970,...,pct__some_college_or_assoc_degree__2000,pct__bachelors_degree_plus__2000,lt_high_school_diploma__2014_18,high_school_diploma__2014_18,some_college_or_assoc_degree__2014_18,bachelors_degree_plus__2014_18,pct__lt_high_school_diploma__2014_18,pct__high_school_diploma__2014_18,pct__some_college_or_assoc_degree__2014_18,pct__bachelors_degree_plus__2014_18
0,Alabama,Autauga,"Autauga, Alabama",6611.0,3757.0,933.0,767.0,54.8,31.1,7.7,...,26.9,18.0,4204.0,12119.0,10552.0,10291.0,11.3,32.6,28.4,27.7
1,Alabama,Baldwin,"Baldwin, Alabama",18726.0,8426.0,2334.0,2038.0,59.4,26.7,7.4,...,29.3,23.1,14310.0,40579.0,46025.0,46075.0,9.7,27.6,31.3,31.3
2,Alabama,Barbour,"Barbour, Alabama",8120.0,2242.0,581.0,861.0,68.8,19.0,4.9,...,21.3,10.9,4901.0,6486.0,4566.0,2220.0,27.0,35.7,25.1,12.2
3,Alabama,Bibb,"Bibb, Alabama",5272.0,1402.0,238.0,302.0,73.1,19.4,3.3,...,20.4,7.1,2650.0,7471.0,3846.0,1813.0,16.8,47.3,24.4,11.5
4,Alabama,Blount,"Blount, Alabama",10677.0,3440.0,626.0,404.0,70.5,22.7,4.1,...,24.8,9.6,7861.0,13489.0,13267.0,5010.0,19.8,34.0,33.5,12.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3002,Wyoming,Sweetwater,"Sweetwater, Wyoming",4393.0,3731.0,986.0,960.0,43.6,37.1,9.8,...,35.7,17.0,2549.0,9433.0,10108.0,6243.0,9.0,33.3,35.7,22.0
3003,Wyoming,Teton,"Teton, Wyoming",708.0,908.0,524.0,455.0,27.3,35.0,20.2,...,30.0,45.8,958.0,2272.0,4087.0,9847.0,5.6,13.2,23.8,57.4
3004,Wyoming,Uinta,"Uinta, Wyoming",1569.0,1517.0,445.0,352.0,40.4,39.1,11.5,...,34.2,15.0,934.0,5176.0,4810.0,1995.0,7.2,40.1,37.2,15.4
3005,Wyoming,Washakie,"Washakie, Wyoming",1572.0,1437.0,590.0,432.0,39.0,35.6,14.6,...,33.1,18.7,590.0,1717.0,2135.0,1220.0,10.4,30.3,37.7,21.5
3006,Wyoming,Weston,"Weston, Wyoming",1428.0,1247.0,398.0,247.0,43.0,37.6,12.0,...,30.5,14.5,389.0,1796.0,1868.0,961.0,7.8,35.8,37.3,19.2

In [49]:
csvOut = myFile.replace("Education", "education").replace(".xls", ".csv")
myEdDF.to_csv(csvOut, index=False)

print(f"""Saved education data to {csvOut}""")

Saved education data to ./../../ResearchProposal/education/education.csv

In [50]:
myEdDF.describe()

,lt_high_school_diploma__1970,high_school_diploma__1970,some_college_or_assoc_degree__1970,Four years of college or higher__1970,pct__lt_high_school_diploma__1970,pct__high_school_diploma__1970,pct__some_college_or_assoc_degree__1970,pct__four years of college or higher__1970,lt_high_school_diploma__1980,high_school_diploma__1980,...,pct__some_college_or_assoc_degree__2000,pct__bachelors_degree_plus__2000,lt_high_school_diploma__2014_18,high_school_diploma__2014_18,some_college_or_assoc_degree__2014_18,bachelors_degree_plus__2014_18,pct__lt_high_school_diploma__2014_18,pct__high_school_diploma__2014_18,pct__some_college_or_assoc_degree__2014_18,pct__bachelors_degree_plus__2014_18
count,3.003000e+03,3.003000e+03,3003.000000,3003.000000,3003.000000,3003.000000,3003.000000,3003.000000,3.004000e+03,3.004000e+03,...,3006.000000,3006.000000,3.007000e+03,3.007000e+03,3.007000e+03,3.007000e+03,3007.000000,3007.000000,3007.000000,3007.000000
mean,1.665738e+04,1.102416e+04,3753.439227,3758.018315,55.208791,28.579887,8.954146,7.258075,1.417849e+04,1.481578e+04,...,26.253493,16.471158,8.684880e+03,1.908402e+04,2.047729e+04,2.225587e+04,13.342534,34.282607,30.861490,21.512072
std,5.774109e+04,4.097050e+04,16952.808320,16184.481640,12.730303,8.147423,3.627767,3.858249,4.558873e+04,4.639690e+04,...,5.608060,7.688050,3.799639e+04,5.175596e+04,6.201716e+04,8.120880e+04,6.343499,7.134856,5.158897,9.287341
min,3.300000e+01,8.000000e+00,0.000000,0.000000,11.800000,5.800000,0.000000,0.000000,3.100000e+01,2.100000e+01,...,9.500000,4.900000,4.000000e+00,1.500000e+01,2.400000e+01,0.000000e+00,1.200000,8.100000,5.800000,0.000000
25%,2.995000e+03,1.260000e+03,372.000000,271.500000,45.600000,22.100000,6.200000,4.800000,2.614250e+03,1.990500e+03,...,22.200000,11.300000,9.935000e+02,2.830500e+03,2.308000e+03,1.206000e+03,8.700000,29.900000,27.400000,15.100000
50%,5.889000e+03,2.746000e+03,798.000000,588.000000,53.700000,29.700000,8.600000,6.400000,5.389500e+03,4.288500e+03,...,26.300000,14.500000,2.481000e+03,6.420000e+03,5.357000e+03,3.163000e+03,12.000000,34.500000,30.700000,19.200000
75%,1.182250e+04,6.813500e+03,2026.500000,1702.000000,65.700000,35.100000,11.300000,8.600000,1.098700e+04,1.038575e+04,...,30.200000,19.200000,5.736000e+03,1.519650e+04,1.442250e+04,1.050250e+04,17.000000,39.200000,34.300000,25.500000
max,1.506170e+06,1.294477e+06,655534.000000,504563.000000,88.400000,47.900000,29.000000,38.600000,1.336041e+06,1.336165e+06,...,44.900000,60.500000,1.460718e+06,1.416482e+06,1.790808e+06,2.177481e+06,66.300000,55.600000,57.300000,74.600000

In [57]:
top10_pct_higher_ed = myEdDF.sort_values("pct__bachelors_degree_plus__2014_18", ascending=False).head(10).copy()
top10_pct_higher_ed

,state,county,county_state,lt_high_school_diploma__1970,high_school_diploma__1970,some_college_or_assoc_degree__1970,Four years of college or higher__1970,pct__lt_high_school_diploma__1970,pct__high_school_diploma__1970,pct__some_college_or_assoc_degree__1970,...,pct__some_college_or_assoc_degree__2000,pct__bachelors_degree_plus__2000,lt_high_school_diploma__2014_18,high_school_diploma__2014_18,some_college_or_assoc_degree__2014_18,bachelors_degree_plus__2014_18,pct__lt_high_school_diploma__2014_18,pct__high_school_diploma__2014_18,pct__some_college_or_assoc_degree__2014_18,pct__bachelors_degree_plus__2014_18
2729,Virginia,Arlington,"Arlington, Virginia",23454.0,32664.0,17559.0,30971.0,22.4,31.2,16.8,...,15.9,60.2,10258.0,14027.0,19594.0,128610.0,5.9,8.1,11.4,74.6
1713,New Mexico,Los Alamos,"Los Alamos, New Mexico",942.0,2460.0,1488.0,3072.0,11.8,30.9,18.7,...,23.8,60.5,283.0,1289.0,2803.0,8676.0,2.2,9.9,21.5,66.5
264,Colorado,Pitkin,"Pitkin, Colorado",536.0,734.0,882.0,1216.0,15.9,21.8,26.2,...,28.3,57.1,501.0,2025.0,2516.0,8606.0,3.7,14.8,18.4,63.1
1111,Maryland,Howard,"Howard, Maryland",12705.0,9416.0,3698.0,6653.0,39.1,29.0,11.4,...,23.9,52.9,9527.0,29650.0,42897.0,130437.0,4.5,14.0,20.2,61.4
2751,Virginia,Fairfax,"Fairfax, Virginia",48526.0,71955.0,39161.0,69293.0,21.2,31.4,17.1,...,22.1,54.8,61178.0,99667.0,141719.0,475312.0,7.9,12.8,18.2,61.1
221,Colorado,Boulder,"Boulder, Colorado",15345.0,20226.0,11122.0,16821.0,24.2,31.8,17.5,...,25.3,52.4,10380.0,25800.0,46104.0,127566.0,4.9,12.3,22.0,60.8
2775,Virginia,Loudoun,"Loudoun, Virginia",8851.0,5918.0,2360.0,2435.0,45.2,30.2,12.1,...,27.7,47.2,15975.0,30489.0,50103.0,149720.0,6.5,12.4,20.3,60.8
1761,New York,New York,"New York, New York",468098.0,241162.0,108934.0,213586.0,45.4,23.4,10.6,...,15.8,49.4,162237.0,155048.0,171461.0,758325.0,13.0,12.4,13.7,60.8
1113,Maryland,Montgomery,"Montgomery, Maryland",58050.0,82533.0,48213.0,93899.0,20.5,29.2,17.1,...,21.3,54.6,62517.0,94875.0,135383.0,421720.0,8.7,13.3,18.9,59.0
2424,Tennessee,Williamson,"Williamson, Tennessee",10365.0,4958.0,1676.0,1852.0,55.0,26.3,8.9,...,25.9,44.4,6286.0,19139.0,32654.0,83611.0,4.4,13.5,23.0,59.0

In [59]:
top10_higher_ed = myEdDF.sort_values("bachelors_degree_plus__2014_18", ascending=False).head(10).copy().reset_index(drop=True)
top10_higher_ed

,state,county,county_state,lt_high_school_diploma__1970,high_school_diploma__1970,some_college_or_assoc_degree__1970,Four years of college or higher__1970,pct__lt_high_school_diploma__1970,pct__high_school_diploma__1970,pct__some_college_or_assoc_degree__1970,...,pct__some_college_or_assoc_degree__2000,pct__bachelors_degree_plus__2000,lt_high_school_diploma__2014_18,high_school_diploma__2014_18,some_college_or_assoc_degree__2014_18,bachelors_degree_plus__2014_18,pct__lt_high_school_diploma__2014_18,pct__high_school_diploma__2014_18,pct__some_college_or_assoc_degree__2014_18,pct__bachelors_degree_plus__2014_18
0,California,Los Angeles,"Los Angeles, California",1506170.0,1294477.0,655534.0,504563.0,38.0,32.7,16.6,...,26.2,24.9,1460718.0,1416482.0,1790808.0,2177481.0,21.3,20.7,26.2,31.8
1,Illinois,Cook,"Cook, Illinois",1477917.0,906213.0,343212.0,334157.0,48.3,29.6,11.2,...,25.5,28.0,477426.0,837569.0,910060.0,1361974.0,13.3,23.3,25.4,38.0
2,Texas,Harris,"Harris, Texas",422033.0,220828.0,118858.0,130857.0,47.3,24.7,13.3,...,26.1,26.9,557077.0,678269.0,782296.0,905727.0,19.1,23.2,26.8,31.0
3,Arizona,Maricopa,"Maricopa, Arizona",203922.0,164605.0,76788.0,65504.0,39.9,32.2,15.0,...,33.5,25.9,354513.0,634810.0,923098.0,899070.0,12.6,22.6,32.8,32.0
4,California,Orange,"Orange, California",216580.0,256847.0,145360.0,116498.0,29.5,34.9,19.8,...,31.2,30.8,320340.0,368858.0,604676.0,857638.0,14.9,17.1,28.1,39.9
5,California,San Diego,"San Diego, California",239165.0,240208.0,113732.0,96174.0,34.7,34.8,16.5,...,33.2,29.5,286008.0,409272.0,680074.0,848022.0,12.9,18.4,30.6,38.1
6,Washington,King,"King, Washington",196788.0,224668.0,102979.0,109829.0,31.0,35.4,16.2,...,31.1,40.0,108078.0,234136.0,404452.0,790809.0,7.0,15.2,26.3,51.4
7,New York,New York,"New York, New York",468098.0,241162.0,108934.0,213586.0,45.4,23.4,10.6,...,15.8,49.4,162237.0,155048.0,171461.0,758325.0,13.0,12.4,13.7,60.8
8,California,Santa Clara,"Santa Clara, California",168911.0,172084.0,97306.0,106037.0,31.0,31.6,17.9,...,27.0,40.5,157687.0,191695.0,294921.0,679498.0,11.9,14.5,22.3,51.3
9,New York,Kings,"Kings, New York",877093.0,417452.0,97198.0,99129.0,58.8,28.0,6.5,...,20.2,21.8,326469.0,455299.0,347052.0,648461.0,18.4,25.6,19.5,36.5

In [77]:
def meltEdDF(myEdDF: pd.DataFrame) -> pd.DataFrame:
    myEdDFlong = myEdDF.melt(id_vars=["state", "county", "county_state"])

    edPctLong = myEdDFlong.loc[myEdDFlong["variable"].str.contains("pct__")].copy()
    edPctLong
    edPctLong[["pct", "metric", "years"]] = edPctLong["variable"].str.split("__", expand=True)
    edPctLong["metric"] = edPctLong["pct"] + "__" + edPctLong["metric"]
    del edPctLong["pct"]
    del edPctLong["variable"]
    edPctLong.head(10)

    edCntLong = myEdDFlong.loc[~myEdDFlong["variable"].str.contains("pct__")].copy()
    edCntLong[["metric", "years"]] = edCntLong["variable"].str.split("__", expand=True)
    del edCntLong["variable"]
    edCntLong.head(10)

    myEdDFlong = pd.concat([edPctLong, edCntLong]).reset_index(drop=True)
    
    return myEdDFlong

     state    county       county_state    value                  metric years
0  Alabama   Autauga   Autauga, Alabama   6611.0  lt_high_school_diploma  1970
1  Alabama   Baldwin   Baldwin, Alabama  18726.0  lt_high_school_diploma  1970
2  Alabama   Barbour   Barbour, Alabama   8120.0  lt_high_school_diploma  1970
3  Alabama      Bibb      Bibb, Alabama   5272.0  lt_high_school_diploma  1970
4  Alabama    Blount    Blount, Alabama  10677.0  lt_high_school_diploma  1970
5  Alabama   Bullock   Bullock, Alabama   4245.0  lt_high_school_diploma  1970
6  Alabama    Butler    Butler, Alabama   8353.0  lt_high_school_diploma  1970
7  Alabama   Calhoun   Calhoun, Alabama  30535.0  lt_high_school_diploma  1970
8  Alabama  Chambers  Chambers, Alabama  13616.0  lt_high_school_diploma  1970
9  Alabama  Cherokee  Cherokee, Alabama   6126.0  lt_high_school_diploma  1970

,state,county,county_state,value,metric,years
0,Alabama,Autauga,"Autauga, Alabama",54.8,pct__lt_high_school_diploma,1970
1,Alabama,Baldwin,"Baldwin, Alabama",59.4,pct__lt_high_school_diploma,1970
2,Alabama,Barbour,"Barbour, Alabama",68.8,pct__lt_high_school_diploma,1970
3,Alabama,Bibb,"Bibb, Alabama",73.1,pct__lt_high_school_diploma,1970
4,Alabama,Blount,"Blount, Alabama",70.5,pct__lt_high_school_diploma,1970
...,...,...,...,...,...,...
120275,Wyoming,Sweetwater,"Sweetwater, Wyoming",6243.0,bachelors_degree_plus,2014_18
120276,Wyoming,Teton,"Teton, Wyoming",9847.0,bachelors_degree_plus,2014_18
120277,Wyoming,Uinta,"Uinta, Wyoming",1995.0,bachelors_degree_plus,2014_18
120278,Wyoming,Washakie,"Washakie, Wyoming",1220.0,bachelors_degree_plus,2014_18
120279,Wyoming,Weston,"Weston, Wyoming",961.0,bachelors_degree_plus,2014_18